@font-face {
  font-family: h-u-light;
  src: url("../font/H/Helvetica-Neue-25-Ultra-Light.ttf"); }

@font-face {
  font-family: h-thin;
  src: url("../font/H/Helvetica-Neue-35-Thin.ttf"); }

@font-face {
  font-family: h-light;
  src: url("../font/H/Helvetica-Neue-45-Light.ttf"); }

@font-face {
  font-family: h-roman;
  src: url("../font/H/Helvetica-Neue-55-Roman.ttf"); }

@font-face {
  font-family: h-medium;
  src: url("../font/H/Helvetica-Neue-65-Medium.ttf"); }

@font-face {
  font-family: h-bold;
  src: url("../font/H/Helvetica-Neue-75-Bold.ttf"); }

@font-face {
  font-family: h-heavy;
  src: url("../font/H/Helvetica-Neue-85-Heavy.ttf"); }

::-moz-selection {
  background-color: rgba(51, 51, 51, 0.5); }

::selection {
  background-color: rgba(51, 51, 51, 0.5); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body, html {
  font-family: h-thin;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background: #fff; }

#wreper {
  height: 100%;
  background: #f9f9f9; }

body {
  overflow: hidden; }

section {
  width: 100%;
  background-color: #fff; }

p, li, a {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: h-light; }

.contener {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: h-thin; }
