.contact-us-s {
  text-align: center; }
  .contact-us-s h1.en1 {
    letter-spacing: 8px;
    font-size: 3em;
    text-transform: uppercase; }

.en {
  font-size: 1.8em; }

.en {
  letter-spacing: 2.5px; }

/* pivacy policy for*/
.top-m {
  margin-top: 50px;
  margin-bottom: 50px; }
  .top-m h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: h-light; }
  .top-m ul {
    margin-bottom: 20px; }
  .top-m a {
    text-decoration: underline; }

.top-m-h {
  text-align: center;
  font-family: h-u-light;
  font-size: 70px;
  color: #4d4d4d;
  margin-top: 70px; }
