.contact-us-s {
  text-align: center; }
  .contact-us-s h1.en1 {
    letter-spacing: 8px;
    font-size: 3em;
    text-transform: uppercase; }

.en {
  font-size: 1.8em; }

.en {
  letter-spacing: 2.5px; }
