li {
  list-style: none; }

.footer-c, footer {
  overflow: hidden; }

footer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white; }

footer > .contener div {
  width: 33%;
  float: left;
  border-right: 1px solid gray;
  padding-left: 20px; }
  footer > .contener div h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: default;
    letter-spacing: 2px;
    font-family: h-light; }
  footer > .contener div ul li {
    margin-bottom: 5px; }
    footer > .contener div ul li a {
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      text-transform: capitalize;
      font-size: 14px; }
      footer > .contener div ul li a:hover {
        color: black; }
  footer > .contener div:last-child {
    border-right: none; }

/*---copyfight---*/
