.mobile-nav {
  display: none;
  width: 40px;
  height: 40px;
  float: right; }
  .mobile-nav.open-anim span {
    background-color: transparent; }
  .mobile-nav.open-anim span:after {
    -webkit-transform-origin: center;
            transform-origin: center;
    bottom: 2px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .mobile-nav.open-anim span:before {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px; }
  .mobile-nav span {
    width: 100%;
    height: 2px;
    background-color: white;
    line-height: none;
    -webkit-transition: all .6s ease;
    transition: all .6s ease; }
    .mobile-nav span:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: white;
      position: relative;
      bottom: 17px;
      -webkit-transition: all .6s ease;
      transition: all .6s ease; }
    .mobile-nav span:before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: white;
      position: relative;
      top: 15px;
      -webkit-transition: all .6s ease;
      transition: all .6s ease; }

a {
  color: black;
  text-decoration: none; }

.clearfix {
  clear: both;
  float: none; }

#header {
  text-transform: uppercase;
  height: 500px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 0px;
  position: relative;
  box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.6); }

.index0 {
  height: 40px;
  line-height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }

.logo {
  float: left;
  margin-right: 15px; }
  .logo a img {
    height: 39px; }

.nav ul {
  list-style: none;
  float: right; }
  .nav ul li {
    display: inline-block;
    margin: 0 30px;
    letter-spacing: 1px; }
    .nav ul li:first-child {
      margin-left: 0px; }
    .nav ul li:last-child {
      margin-right: 0px; }
    .nav ul li a {
      font-size: 0.85em;
      color: white;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .nav ul li a:hover {
        color: black; }
      .nav ul li a.active {
        color: #00b300; }

.active {
  color: #00b300; }

.login {
  float: right;
  font-size: 1.3em;
  margin-left: 30px;
  color: white;
  border: 1px solid white;
  padding: 0 15px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .login:hover {
    background-color: rgba(255, 255, 255, 0.5); }
  .login:active {
    background: #333333;
    color: #e6e6e6; }

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  margin-top: 154px;
  margin-left: 100px;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.header1 h1 {
  font-weight: 500;
  color: #000033;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  line-height: 40px;
  font-size: 2em;
  color: #fff; }

.start-now {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  border: 1px solid white;
  width: 140px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
  text-align: center; }
  .start-now a {
    color: white; }
  .start-now:hover {
    background-color: rgba(255, 255, 255, 0.5); }
  .start-now:active {
    background: #333333;
    color: black; }
  .start-now a {
    padding: 9px 23px; }
    .start-now a:active {
      color: blck; }

.contener {
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

#popup-cat {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  position: absolute;
  top: 45px;
  right: 120px;
  bottom: 0;
  height: 300px;
  width: 550px;
  background-color: rgba(255, 255, 255, 0.95); }
  #popup-cat::before {
    content: '';
    position: absolute;
    border: solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.95);
    right: 27%;
    bottom: 100%;
    pointer-events: none;
    border-width: 10px; }
  #popup-cat .seeall {
    float: right;
    margin: 20px 28px;
    -webkit-animation: popup-seeall 1.2s;
            animation: popup-seeall 1.2s;
    cursor: pointer; }
  #popup-cat ul li {
    -webkit-animation: popup-items 1.2s;
            animation: popup-items 1.2s;
    float: left;
    list-style: none;
    width: 50%;
    padding: 10px 20px; }
    #popup-cat ul li a {
      color: gray;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      #popup-cat ul li a:hover {
        color: black;
        letter-spacing: 2px; }

.youneed {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  border: 1px solid;
  margin-top: 25px;
  border-radius: 20px;
  -webkit-animation: youneed-anim 1.2s;
          animation: youneed-anim 1.2s;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .youneed:hover {
    background: white; }

/* click on react class*/
.popup-click {
  display: block !important;
  -webkit-animation: popup-anim 0.5s ease-in-out !important;
          animation: popup-anim 0.5s ease-in-out !important;
  -webkit-transform-origin: bottom !important;
          transform-origin: bottom !important; }

/* This is animation*/
@-webkit-keyframes popup-anim {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    top: 100%;
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes popup-anim {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    top: 100%;
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes popup-items {
  0% {
    margin-top: 40px;
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    margin-top: 0px;
    opacity: 1; } }

@keyframes popup-items {
  0% {
    margin-top: 40px;
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    margin-top: 0px;
    opacity: 1; } }

@-webkit-keyframes popup-seeall {
  40% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes popup-seeall {
  40% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes youneed-anim {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes youneed-anim {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

#mobile-nav-model {
  display: none;
  top: 72px;
  width: 100%;
  height: 176px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-animation: mobile-model-anim .8s ease;
          animation: mobile-model-anim .8s ease; }
  #mobile-nav-model ul li {
    -webkit-animation: mobile-model-anim-li .8s ease;
            animation: mobile-model-anim-li .8s ease;
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
    margin: 10px 0px;
    text-align: center;
    text-transform: capitalize; }
    #mobile-nav-model ul li a {
      color: #808080;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      #mobile-nav-model ul li a:active {
        color: black; }
    #mobile-nav-model ul li:last-child {
      margin-bottom: 0px; }
    #mobile-nav-model ul li:first-child {
      margin-top: 0px; }

.mobile-login {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  font-size: 1.6em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .mobile-login:active {
    text-decoration: underline; }

@-webkit-keyframes mobile-model-anim {
  0% {
    opacity: 0;
    top: -100%; }
  100% {
    opacity: 1;
    top: 72px; } }

@keyframes mobile-model-anim {
  0% {
    opacity: 0;
    top: -100%; }
  100% {
    opacity: 1;
    top: 72px; } }

@-webkit-keyframes mobile-model-anim-li {
  0% {
    opacity: 0;
    margin-top: -20px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }

@keyframes mobile-model-anim-li {
  0% {
    opacity: 0;
    margin-top: -20px; }
  100% {
    opacity: 1;
    margin-top: 0px; } }
