table {
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid transparent;
  text-align: left;
  padding: 8px; }

table.pt-h tr th {
  text-align: center;
  font-size: 1.1em; }

.pt-h tr td:last-child {
  white-space: nowrap; }

.t-h2 {
  box-sizing: content-box;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-decoration: underline; }
  .t-h2 td {
    box-sizing: content-box;
    padding-top: 20px; }

.table-price {
  margin-top: 70px;
  margin-bottom: 20px; }
