section#s2 {
  height: 500px;
  width: 100%; }

.s2-c {
  height: 100%; }

.s2-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  float: left; }
  .s2-item1 div > img {
    width: 100%; }

.s2-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 30px; }
  .s2-item2 div h1 {
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .s2-item2 div p {
    color: #808080; }
