section#s4 {
  width: 100%;
  height: 500px; }

.s4-c {
  height: 100%; }
  .s4-c .s4-item1, .s4-c .s4-item2 {
    width: 50%;
    float: left;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .s4-c .s4-item1 > div, .s4-c .s4-item2 > div {
    margin: 0 auto; }

.s4-item1 > div > h2 {
  margin-top: 20px; }

.s4-item1 > div > h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 2px; }
  .s4-item1 > div > h1 .tfms {
    font-size: 3.5em;
    color: black;
    font-family: h-u-light; }

/*form style content*/
input:focus {
  outline: none; }

.inco {
  width: 100%;
  margin-top: 30px;
  height: 30px;
  font-size: .9em;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 10px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  box-shadow: none;
  background: transparent; }

.laco {
  position: relative;
  border: 1px solid transparent; }

.laco > span {
  position: absolute;
  top: -32px;
  left: 0;
  white-space: nowrap;
  font-size: 1.1em;
  font-family: h-light;
  letter-spacing: 2px;
  pointer-events: none;
  color: #808080;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

.submit {
  float: right;
  background-color: transparent !important; }

/* events to react*/
.fullname:focus + label > span, .fullname:valid + label > span,
.email:focus + label > span, .email:valid + label > span,
.number:focus + label > span, .number:valid + label > span {
  top: -50px;
  font-size: .9em;
  color: black; }

.fullname:valid,
.email:valid,
.number:valid {
  border-bottom: 1px solid #00b300; }

.fullname:hover,
.email:hover,
.number:hover {
  border-bottom: 1px solid black; }

.fullname:focus,
.email:focus,
.number:focus {
  border-bottom: 1px solid black; }
