section.service {
  width: 100%; }
  section.service div {
    height: 75vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    font-family: roboto-light; }
    section.service div h2 {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 2.5em;
      letter-spacing: 2px; }
    section.service div p {
      text-transform: capitalize;
      letter-spacing: 1px; }

.s-seo {
  background-image: url("../img/service-a.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-sg {
  background-image: url("../img/service-b.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: white; }

.s-snl {
  background-image: url("../img/service-c.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-promoting {
  background-image: url("../img/service-d.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-ga {
  background-image: url("../img/service-e.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-gtm {
  background-image: url("../img/service-f.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-redesign {
  background-image: url("../img/service-g.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-cms {
  background-image: url("../img/service-h.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-update {
  background-image: url("../img/service-i.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }

.s-logo {
  background-image: url("../img/service-j.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; }
