doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title LOGOS
    link(rel='icon', type='image/png', href='../favicon.png')
    link(rel='canonical', href='http://www.skpwebsite.com')
    link(rel='stylesheet', href='../css/style.css')
  body
    include ../../_jade/header
    section#logos
      .contener
        h2 logos
        p Icon or symbol,<br> one letter,<br> letter logo's type
    include ../../_jade/footer
    include ../../_jade/script
    script.
      $(document).ready(function(){
        addingC('a[href="/logos/"]','active');
        
      })
