doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SERVICE
    link(rel='icon', type='image/png', href='../favicon.png')
    link(rel='canonical', href='http://www.skpwebsite.com')
    link(rel='stylesheet', href='../css/style.css')
  body
    include ../../_jade/header
    section.service.s-seo
      .contener
        h2 search engines optimization
        br
        p optimize your site.
    section.service.s-sg
      .contener
        h2 your site submit on google
        br
        p submit on google webmaster create site map.
    section.service.s-snl
      .contener
        h2 social network linking
        br
        p link your site with facebook twitter instagram youtube linkedin etc.
    section.service.s-promoting
      .contener
        h2 promoting
        br
        p advertising website on google facebook.
    section.service.s-logo
      .contener
        h2 logo's design
        br
        p your site icon
    section.service.s-ga
      .contener
        h2 google analytic
        br
        p track visitor with google analytic and much more
    section.service.s-gtm
      .contener
        h2 google tag manager
        br
        p manage website content directly
    section.service.s-redesign
      .contener
        h2 redesign
        br
        p old design to new design
    section.service.s-cms
      .contener
        h2 cms based site 
        br
        p easily maintain with content manager system wordpress, joomla, duple
    section.service.s-update
      .contener
        h2 update your site
        br
        p if your website is online store manage completely with our team
    include ../../_jade/footer
    include ../../_jade/script
    script.
      $(document).ready(function() {
        addingC('a[href="/service/"]','active');
        $('a[href="#s4"]').attr('href','/contect/');
        
        var rand = Math.floor(Math.random()*$('.service').length+1);
        var obja={
          1: 'bounce',
          2: 'bounceIn',
          3: 'flash',
          4: 'bounceInDown',
          5: 'rubberBand',
          6: 'bounceInRight',
          7: 'bounceInLeft',
          8: 'shake',
          9: 'rotateInDownLeft',
          10: 'rotateINDownRight'
        }
        
        /*addanimate*/
        var $elems = $('.service');
        var winheight = $(window).height();
        var fullheight = $(document).height();
        $(window).scroll(function(){
          wintop = $(window).scrollTop();
          $elems.each(function(){
            $elm = $(this);
            if($elm.hasClass('animate')) { return true; }
            topcoords = $elm.offset().top;
            if(wintop > (topcoords - (winheight*.75))) {
              $elm.addClass('animated '+obja[rand]);
            }
          });
        });

      });
    
      
