li
  list-style: none
.footer-c,footer
  overflow: hidden
footer
  user-select: none
  padding-top: 50px
  padding-bottom: 50px
  background-color: white
footer>.contener div
  width: 33%
  float: left
  border-right: 1px solid darken(white, 50%)
  padding-left: 20px
  h2
    margin:
      top: 15px
      bottom: 10px
    text-transform: uppercase
    cursor: default
    letter-spacing: 2px
    font-family: h-light
  ul
    li
      margin-bottom: 5px
      a
        transition: all .4s ease
        text-transform: capitalize
        font-size: 14px
        &:hover
          color: black
  &:last-child
    border-right: none

/*---copyfight---*/
