#logos
  overflow: hidden
  height: 100vh
  width: 100%
  text-align: center
  background:
    image: url('../img/logos.png')
    repeat: no-repeat
    size: cover
    position: bottom center
  div
    overflow: hidden
    h2
      text-transform: uppercase
      letter-spacing: 3px
      font-weight: normal
      font-size: 2em
      margin-top: 20px
    p
      margin-top: 30px
      text-transform: uppercase
      letter-spacing: 1px
