=bgs()
  background:
    repeat: no-repeat
    size: cover
    position: center
  color: white
section.service
  width: 100%
  div
    height: 75vh
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: center
    font-family: roboto-light
    h2
      font-weight: normal
      text-transform: uppercase
    p
      text-transform: capitalize
.s-seo
  background-image: url('../img/service-a.png')
  +bgs()
.s-sg
  background:
    image: url('../img/service-b.png')
    repeat: no-repeat
    size: cover
    position: bottom center
  color: white
.s-snl
  background-image: url('../img/service-c.png')
  +bgs()
.s-promoting
  background-image: url('../img/service-d.png')
  +bgs()
.s-ga
  background-image: url('../img/service-e.png')
  +bgs()
.s-gtm
  background-image: url('../img/service-f.png')
  +bgs()
.s-redesign
  background-image: url('../img/service-g.png')
  +bgs()
.s-cms
  background-image: url('../img/service-h.png')
  +bgs()
.s-update
  background-image: url('../img/service-i.png')
  +bgs()
