doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title PRICING
    link(rel='icon', type='image/png', href='../favicon.png')
    link(rel='canonical', href='http://www.skpwebsite.com')
    link(rel='stylesheet', href='../css/style.css')
  body
    include ../../_jade/header
    .table-price.contener
      table.pt-h
        tr
          th Category
          th Features
          th price
        tr.t-h2
          td(colspan="3") SMALL BUSINESS WEBSITE DESIGN
        tr
          td began
          td 5 Pages, 2 Design Concepts, Cross-browser Compatible, SEO Friendly, Contact Form, Google Map, FREE Social Media Integration
          td 10,000 INR
        tr
          td Best buy
          td 12 Pages, 2 Design Concepts, Image Slider, Contact Form, Google map, SEO Friendly, Cross-browser Compatible, FREE &#40;Social Media Integration, Search Engine Submission&#41;
          td 15,000 INR
        tr
          td Premium
          td 20 Pages, WordPress CMS, 2 Design Concepts, Image Slider, Contact Form, Google Map, SEO Friendly, Cross-browser Compatible, FREE &#40;Social Media Integration, Search Engine Submission, Hosting for One Year *&#41;
          td 22,000 INR
        tr.t-h2
          td(colspan="3") PORTFOLIO PERSONAL WEB DESIGN
        tr
          td Began
          td 5 Pages, Contact Form, 2 Design Concepts, Cross-browser Compatible, SEO Friendly, FREE Social Media Integration
          td 10,000 INR
        tr
          td Best buy
          td 10 Pages, Image Slider, Image Gallery, Contact Form, 2 Design Concepts, SEO Friendly, Cross-browser Compatible, FREE &#40;Social Media Integration, Search Engine Submission&#41;
          td 15,000 INR
        tr
          td Premium
          td 15 Pages, WordPress CMS, Image Slider, Image Gallery, Blog, Contact Form, 2 Design Concepts, SEO Friendly, Cross-browser Compatible, FREE &#40;Social Media Integration, Search Engine Submission, Hosting for One Year *&#41;
          td 25,000 INR
        tr.t-h2
          td(colspan="3") WORDPRESS DEVELOPMENT
        tr
          td Began
          td 5 Pages, WordPress CMS, 2 Design Concepts, Cross-browser Compatible, SEO Friendly, Contact Form, Google Map, FREE &#40;Social Media Integration&#41;
          td 13,000 INR
        tr
          td Best buy
          td 12 Pages, WordPress CMS, 2 Design Concepts, Image Slider, Contact Form, Google Map, SEO Friendly, Cross-browser Compatible, FREE &#40;Social Media Integration, Search Engine Submission&#41;
          td 18,000 INR
        tr
          td Premium
          td 20 Pages, WordPress CMS, Blog, 2 Design Concepts, Image Slider, Contact Form, Google Map, SEO Friendly, Cross-browser Compatible, Blog, FREE &#40;Social Media Integration, Search Engine Submission, Hosting for One Year *&#41;
          td 26,000 INR
        tr.t-h2
          td(colspan="3") RESPONSIVE WEBSITE DESIGN
        tr
          td Began
          td 5 Pages, 2 Design Concepts, Mobile Responsive Layout, SEO Friendly, Contact Form, Google Map, FREE &#40;Social Media Integration&#41;
          td 14,000 INR
        tr
          td Best buy
          td 12 Pages, 2 Design Concepts, Image Slider, Contact Form, Google Map, SEO Friendly, Mobile Responsive Layout, FREE &#40;Social Media Integration, Search Engine Submission&#41;
          td 20,000 INR
        tr
          td Premium
          td 20 Pages, WordPress CMS, 2 Design Concepts, Image Slider, Contact Form, Google map, SEO Friendly, Mobile Responsive Layout, FREE &#40;Social Media Integration, Search Engine Submission, Hosting for One Year *&#41;
          td 26,000 INR
        tr.t-h2
          td(colspan="3") LOGO DESIGN
        tr
          td Began
          td 5 Design Concepts, up to 3 Revisions on the Selected Design, customized to Your Business Needs, Web and Print Ready Formats, You Own the Copyright
          td 4,000 INR
        tr
          td Best buy
          td 7 Design Concepts, Unlimited Revisions on the Selected Design, customized to Your Business needs, Web and Print Ready Formats, You Own the Copyright
          td 5,000 INR
        tr
          td Premium
          td Illustrative Logos, 3 Unique Custom Illustrations, 6 Logo Designs Using These 3 Illustrations, Unlimited Revisions on the Selected Illustration / Logo Design, customized to your Business Needs, Web and Print Ready Formats, You Own the Copyright
          td 6,000 INR
        tr.t-h2
          td(colspan="3") SEO & SMO SERVICES
        tr
          td Began
          td 5 Keywords &#40;On-page & Off-page Optimization, Social Media Optimization&#41;
          td 6,000 INR / month
        tr
          td Best buy
          td 10 Keywords &#40;On-page & Off-page Optimization, Social Media Optimization&#41;
          td 10,000 INR / month
        tr
          td Premium
          td 15 Keywords &#40;On-page & Off-page Optimization, Social Media Optimization&#41;
          td 16,000 INR / month
        tr.t-h2
          td(colspan="3") CONTENT WRITING
        tr
          td best
          td Web Page Content Writing, Article and Blog Writing, Social Media Content Writing and More.
          td 700 INR / 500 word
        tr.t-h2
          td(colspan="3") WEBSITE LAYOUT DESIGN
        tr
          td(colspan="2") Website Design - 2 Design Concepts, 3 Revisions. End Deliverable: PSD & JPG
          td 4,000 INR
        tr
          td(colspan="2") HTML/CSS Conversion
          td 2,000 INR
        tr
          td(colspan="2") WordPress theme &#40;Design and Theme Conversion&#40;
          td 7,000 INR
        tr
          td(colspan="2") Shopping Cart Development Starting from
          td 24,000 INR
        tr
          td(colspan="2") Product Catalog Website Starting from
          td 20,000 INR
          
    include ../../_jade/footer
    include ../../_jade/script
    script.
      $(document).ready(function(){
        addingC('a[href="/logos/"]','active');
        
      })
