doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TEMPLATE
    link(rel='icon', type='image/png', href='../favicon.png')
    link(rel='canonical', href='http://www.skpwebsite.com')
    link(rel='stylesheet', href='../css/style.css')
  body
    include ../../_jade/header
    section#template-c
      .contener.box-t-c
        ul
          each i in ['all','personal','musicians','blogs','businesse','designer','hotel','photography','stores','portfolio']
            li(class="#{i}", id="#{i}")= i
    section#template-i
      .contener.box-t-i#templatejs
      
    .clearfix
    include ../../_jade/footer
    include ../../_jade/script
    script(src="template.js")
    script.
      $(document).ready(function(){
        addingC('a[href="/template/"]','active');
        $('#all').addClass('active');
        $('#all').click(function(){
          $('#templatejs div').removeClass('hide');
          $(this).addClass('active').siblings().removeClass('active');
        })
        $('.box-t-c ul li:not(#all)').click(function(){
          $(this).addClass('active').siblings().removeClass('active');
          $('#templatejs div').addClass('hide');
        })
        var intemplate= $('#templatejs');
        var tstring = '';
        
        for(a in template){
          var obj = template[a];
          tstring += '<div class="t-i-'+obj.clss+'"><a href="'+obj.hrf+'"><img src="'+obj.imgsrc+'" alt="'+obj.alt+'"><h3>'+obj.title+'</h3></a></div>';
          
        }
        intemplate.html(tstring);
        $('.box-t-c ul li').click(function(){
          var liid = $(this).attr('id');
          for(b in category){
            var d = category[b];
            if(b==liid){
              for(var c=0; c<d.length; c++){
                $('.t-i-'+d[c]).removeClass('hide');
                console.log('.t-i-'+d[c])
              }
            }
          }
        })
      })
      
