footer
  .contener.footer-c
    .f-product
      h2 product
      ul
        li: a(href="/domain-help/") domain help
        li: a(href="/template/") template
        li: a(href="/logos/") logo's
        li: a(href="/pricing/") pricing
    .f-company
      h2 company
      ul
        li: a(href="/about/") about
        li: a(href="/customers/") customers
        li: a(href="/term-of-policy/") term of policy
        li: a(href="/contact/") contact us
    .f-social-media
      h2 social media
      ul
        li: a(href="https://www.facebook.com") facebook
        li: a(href="https://twitter.com") twitter
        li: a(href="https://www.instagram.com") instagram
        li: a(href="https://plus.google.com") google plus
  
  
