section#s1
  .contener.s1-c
    .s1-item1
      p Build your website without any knowledge.
      .s1-item1-1
        h1 No drag and drop
      .s1-item1-2
        p Choose your template and give your website information.
    a(href="#")
      .s1-item2
        p begin now
    
    
