section#s2
  .contener.s2-c
    .s2-item2
      div
        h1 s.e.o
        h3 Google Friendly
        p More people on your site.<br>Search engine optimization your website will be top rank on google.
    .s2-item1
      div
        img(src="img/skp-ceo.png", alt="skpwebsite responsive")
