section#s4
  .contener.s4-c
    .s4-item1
      div
        h1
          |<span class="tfms">24x7</span>FULL SERVICE
        h2 +919549002930<br>skpnchl@gmail.com
    .s4-item2
      div
        form(action="http://www.skpanchal.comlu.com/getmsg.php", method="get")
          input.fullname.inco(type="text", name="fullname-hm",  required='')
          label.fullname-l.laco(for="fullname")
            span FULL NAME
          input.email.inco(type="text", name="email-hm",  required='')
          label.email-l.laco(for="email")
            span EMAIL
          input.number.inco(type="text", name="number-hm",  required='')
          label.number-l.laco(for="number")
            span MOBILE NO.
          br
          br
          input(type="submit", class="submit s1-item2", name="submit-hm", value="SEND")
            
          
          
          
        
        
    
