doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title LOGIN
    link(rel='icon', type='image/png', href='../favicon.png')
    link(rel='canonical', href='http://www.skpwebsite.com')
    link(rel='stylesheet', href='../css/style.css')
  body
    include ../../_jade/header
    .login-m-m
      center
        form(action="", method="post")
          input(type="text", class="firstn-m-m")
          br
          input(type="email", class="email-m-m")
          br
          input(type="text", class="mobile-m-m")
          br
          input(type="password", class="password-m-m")
          br
          input(type='submit',class='submit-m-m')
        br
        hr
        br
        form(action='',method="post")
          input(type="text", class="l-username-m-m")
          br
          input(type='password',class='l-password-m-m')
          br
          input(type="submit",class='l-submit-m-m')
        
        
    include ../../_jade/footer
    include ../../_jade/script
    script.
      $(document).ready(function(){
        //- $('.login>p, .mobile-login').html('CREATE');
        //- $('[href="/login/"]').attr('href','/signup/')
      });
